
<app-header>

</app-header>
<app-user-input (onAddingnewCalculation)="passInvestementInformation($event)">

</app-user-input>
@for(invest of Investments; track invest){
<app-investment-results 
                        [currentDuration]="invest.duration"
                        [currentInvestedCapital]="invest.initialInvest"
                        [currentInterest]="''"
                        [currentTotalInterrest]="''"
                        [currentInvestmentValue]="invest.exspectedReturn">
</app-investment-results>
}